In [9]:
import pandas as pd

In [10]:
import numpy as np

In [52]:
def make_df(cols, ind):
    """make dataframe"""
    data = {c: [str(c) + str(i) for i in ind] for c in cols}
    return pd.DataFrame(data, ind)

In [55]:
make_df('abcde', range(6))

    a   b   c   d   e
0  a0  b0  c0  d0  e0
1  a1  b1  c1  d1  e1
2  a2  b2  c2  d2  e2
3  a3  b3  c3  d3  e3
4  a4  b4  c4  d4  e4
5  a5  b5  c5  d5  e5

In [73]:
a = b = make_df('abc', range(3))

In [74]:
a

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2

In [75]:
v = np.concatenate([a, b], axis=1)

In [76]:
v

array([['a0', 'b0', 'c0', 'a0', 'b0', 'c0'],
       ['a1', 'b1', 'c1', 'a1', 'b1', 'c1'],
       ['a2', 'b2', 'c2', 'a2', 'b2', 'c2']], dtype=object)

In [77]:
g = pd.DataFrame(v)

In [78]:
g

    0   1   2   3   4   5
0  a0  b0  c0  a0  b0  c0
1  a1  b1  c1  a1  b1  c1
2  a2  b2  c2  a2  b2  c2

In [80]:
pd.concat([g, g], keys=['a', 'b'])

      0   1   2   3   4   5
a 0  a0  b0  c0  a0  b0  c0
  1  a1  b1  c1  a1  b1  c1
  2  a2  b2  c2  a2  b2  c2
b 0  a0  b0  c0  a0  b0  c0
  1  a1  b1  c1  a1  b1  c1
  2  a2  b2  c2  a2  b2  c2